{% if variant == 'primary' %}
    <span class="flex items-center justify-center min-w-fit flex-nowrap bg-white text-gray-800 tracking-wider rounded-full text-xs uppercase border-2 border-black px-1.5 md:px-3 py-0.15 md:py-0.5">
      {{ content }}
    </span>
  {% elsif variant == 'secondary' %}
    <p class="flex items-center justify-center min-w-fit flex-nowrap tracking-wider bg-emerald-800/60 rounded-full text-white text-xs font-medium px-1.5 md:px-3 py-0.5 md:py-1 uppercase border-1 border-black">
      {{ content }}
    </p>
{% endif %}
  