{% if variant == 'primary' %}
    <span class="flex items-center justify-center min-w-fit flex-nowrap bg-white text-gray-800 tracking-wider rounded-full text-xs uppercase border-2 border-black px-1.5 md:px-3 py-0.20 md:py-1.4">
      {{ content }}
    </span>
  {% elsif variant == 'secondary' %}
    <span class="flex items-center justify-center w-full flex-nowrap tracking-wider bg-emerald-800/60 rounded-full text-white text-xs font-medium px-1.5 md:px-3 py-1 md:py-1.4 uppercase border-1 border-black">
      {{ content }}
    </span>
{% endif %}
  