{%- if card_product and card_product != empty -%}

  {%- liquid  
    assign label = card_product.metafields.custom.label.value
    assign discount = card_product.compare_at_price_max | minus:card_product.price | times:100 | divided_by:card_product.compare_at_price_max | round | abs
    assign rating = card_product.metafields.custom.rating.value
    assign reviews_count = card_product.metafields.custom.reviews_count.value 
  -%}

  <div class="flex flex-col flex-1 w-full gap-2 md:gap-5 md:w-72 lg:w-80">
    
    <div class="relative flex-1">
      {% render 'card-image', card_product: card_product %}

      <div class="absolute flex flex-wrap justify-between w-full gap-2 px-2 top-2">
        {% if label %}
          <div class="max-w-fit">
            {% render 'badge', variant: 'primary', content: label %}
          </div>
        {% endif %}
  
        {% if discount and discount > 0 %}
          <div class="max-w-fit">
            <span class="flex items-center justify-center w-full flex-nowrap tracking-wider bg-emerald-800/60 rounded-full text-white text-sm md:text-sm font-medium px-1.5 md:px-3 py-0.25 md:py-1.25 uppercase border-1 border-black">
              {{  "Save " | append: discount | append: "%" }}
            </span>
          </div>
        {% endif %}
      </div>

    </div>

    <div class="flex flex-col w-full gap-1 max-h-min">
      {% render 'card-title', title: card_product.title %}
      <div class="flex items-center">
        {% render 'render-stars', rating: rating %}
        <span class="ml-2 text-sm text-gray-500 capitalize md:text-lg line-clamp-1 font-poppins">{{ reviews_count }} Reviews</span>
      </div>
      <p class="text-lg font-semibold text-gray-700 md:text-2xl font-poppins">{{ card_product.price | money }}</p>
    </div>
  </div>

{%- endif -%}
