<section class="gap-12 relative p-8 md:py-20 md:pl-[10vw] md:gap-16 flex-1 w-full h-svh md:w-screen flex flex-col justify-center">

  <div class="flex items-center justify-between w-full md:pr-[2vw] lg:pr-[10vw]">
    <h2 class="w-full text-4xl font-extrabold text-center md:max-w-fit md:text-left font-sourceSerif md:text-5xl">{{ section.settings.title }}</h2>
    <a id="link-to-view-all" href="#" class="text-2xl font-semibold text-gray-500 md:block font-poppins">{{ section.settings.link-text }}</a>
  </div> 

  <!-- Mobile only -- preview -->
  <div id="preview-section" class="flex flex-col min-w-full gap-8 transition-all duration-1000 md:hidden">
    <div class="grid flex-1 grid-cols-2 grid-rows-2 gap-4 overflow-y-scroll">
      {%- for product in section.settings.collection.products limit: 4 -%}
      <div class="flex-1 w-full product-card">
          {% render 'card-for-product', card_product: product %}
      </div>
      {% endfor %}   
    </div>
  
    <!-- Show More button for mobile view -->
    <button id="show-more-button" class="flex items-center justify-center w-full px-8 py-4 text-xl font-semibold text-white bg-black rounded-full">Show More</button>
  </div>

  <!-- Mobile only -- show more -->
  <div id="show-more-section" class="fixed top-0 left-0 z-50 hidden w-full h-full gap-12 pb-2 transition-all duration-1000 bg-white md:hidden">
    <div class="flex flex-wrap flex-1 gap-8 p-8 overflow-y-scroll">
      {%- for product in section.settings.collection.products offset: 4 -%}
      <div class="flex-1 min-w-[45%] product-card">
          {% render 'card-for-product', card_product: product %}
      </div>
      {% endfor %}   
    </div>

    <!-- Close show more overlay button for mobile view -->
    <button id="close-button" class="absolute flex items-center justify-center px-5 py-3 text-base font-semibold text-white bg-black rounded-full ring ring-white ring-offset-2 top-2 left-2">X</button>
  </div>

  <!-- Tablets and Desktop Only: Horizontal Scroll -->
  <div id="desktop-section" class="hidden">
    <div class="md:flex gap-4 md:gap-6 md:pb-20 lg:pb-24 overflow-x-auto max-w-[92vw] lg:max-w-[94vw] snap-x snap-mandatory custom-scrollbar flex-nowrap">
      {%- for product in section.settings.collection.products -%}
      <div class="snap-start w-full max-w-96 lg:max-w-[34rem] product-card">
        {% render 'card-for-product', card_product: product %}
      </div>
      {% endfor %}  
    </div>
  </div>
  
</section>

{% schema %}
{
  "name": "Product List",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Best Sellers"
    },
    {
      "type": "text",
      "id": "link-text",
      "label": "Link Text",
      "default": "Shop All Best Sellers →"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Product List",
      "category": "Products"
    }
  ]
}
{% endschema %}

<script>
  function updateViewBasedOnWidth() {
    const desktopSection = document.getElementById('desktop-section');
    const linkToViewAll = document.getElementById('link-to-view-all');
    const width = window.innerWidth;
    if (width >= 768) { // md breakpoint
      desktopSection.classList.remove('hidden');
      linkToViewAll.classList.remove('hidden');
    } else {
      desktopSection.classList.add('hidden');
      linkToViewAll.classList.add('hidden');
    }
  }

  window.addEventListener('resize', updateViewBasedOnWidth);
  document.addEventListener('DOMContentLoaded', updateViewBasedOnWidth);

  document.getElementById('show-more-button').addEventListener('click', function() {
    const previewSection = document.getElementById('preview-section');
    const showMoreSection = document.getElementById('show-more-section');

    previewSection.classList.add('opacity-0', 'pointer-events-none');
    setTimeout(() => {
      previewSection.classList.add('hidden');
      previewSection.classList.remove('opacity-0', 'pointer-events-none');
      showMoreSection.classList.remove('hidden');
      showMoreSection.classList.add('flex');
      setTimeout(() => {
        showMoreSection.classList.add('opacity-100');
      }, 10);
    }, 300);
  });

  document.getElementById('close-button').addEventListener('click', function() {
    const previewSection = document.getElementById('preview-section');
    const showMoreSection = document.getElementById('show-more-section');

    showMoreSection.classList.remove('opacity-100');
    setTimeout(() => {
      showMoreSection.classList.add('hidden');
      showMoreSection.classList.remove('flex');
      previewSection.classList.remove('hidden');
      setTimeout(() => {
        previewSection.classList.add('opacity-100');
      }, 10);
    }, 300);
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const productCards = document.querySelectorAll('.product-card');

    productCards.forEach(card => {
      const img = card.querySelector('.product-image');
      const hoverSrc = img.getAttribute('data-hover');
  
      if (hoverSrc) {
        const originalSrc = img.src;
  
        card.addEventListener('mouseenter', () => {
          img.src = hoverSrc;
        });
  
        card.addEventListener('mouseleave', () => {
          img.src = originalSrc;
        });
      }
    });
  });
</script>
